@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-SemiBold.eot);
    src: local("GeogrotesqueCyr-SemiBold"),
        url(../fonts/GeogrotesqueCyr-SemiBold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-SemiBold.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-SemiBold.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-ExtraLight.eot);
    src: local("GeogrotesqueCyr-ExtraLight"),
        url(../fonts/GeogrotesqueCyr-ExtraLight.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-ExtraLight.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-ExtraLight.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-Italic.eot);
    src: local("../fonts/GeogrotesqueCyr-Italic"),
        url(../fonts/GeogrotesqueCyr-Italic.eot) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-Italic.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-Italic.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-ExtLtIta.eot);
    src: local("GeogrotesqueCyr-ExtLtIta"),
        url(../fonts/GeogrotesqueCyr-ExtLtIta.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-ExtLtIta.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-ExtLtIta.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-ExtLtIta.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-BoldItalic.eot);
    src: local("GeogrotesqueCyr-BoldItalic"),
        url(../fonts/GeogrotesqueCyr-BoldItalic.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-BoldItalic.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-BoldItalic.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-Light.eot);
    src: local("GeogrotesqueCyr-Light"),
        url(../fonts/GeogrotesqueCyr-Light.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-Light.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-Light.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-ThinItalic.eot);
    src: local("GeogrotesqueCyr-ThinItalic"),
        url(../fonts/GeogrotesqueCyr-ThinItalic.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-ThinItalic.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-ThinItalic.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-Medium.eot);
    src: local("GeogrotesqueCyr-Medium"),
        url(../fonts/GeogrotesqueCyr-Medium.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-Medium.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-Medium.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-Bold.eot);
    src: local("GeogrotesqueCyr-Bold"),
        url(../fonts/GeogrotesqueCyr-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-Bold.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-Bold.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-Thin.eot);
    src: local("GeogrotesqueCyr-Thin"),
        url(../fonts/GeogrotesqueCyr-Thin.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-Thin.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-Thin.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-SemBdIta.eot);
    src: local("GeogrotesqueCyr-SemBdIta"),
        url(../fonts/GeogrotesqueCyr-SemBdIta.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-SemBdIta.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-SemBdIta.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-SemBdIta.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-Regular.eot);
    src: local("GeogrotesqueCyr-Regular"),
        url(../fonts/GeogrotesqueCyr-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-Regular.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-Regular.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-MediumItalic.eot);
    src: local("GeogrotesqueCyr-MediumItalic"),
        url(../fonts/GeogrotesqueCyr-MediumItalic.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-MediumItalic.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-MediumItalic.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Cyr';
    src: url(../fonts/GeogrotesqueCyr-LightItalic.eot);
    src: local("GeogrotesqueCyr-LightItalic"),
        url(../fonts/GeogrotesqueCyr-LightItalic.eot?#iefix) format('embedded-opentype'),
        url(../fonts/GeogrotesqueCyr-LightItalic.woff2) format('woff2'),
        url(../fonts/GeogrotesqueCyr-LightItalic.woff) format('woff'),
        url(../fonts/GeogrotesqueCyr-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}