.homeoffice {
    height: auto;
    width: 100vw;
    top: 0vh;
    background-image: url(../img/carousel/home-office/background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    .homeoffice__container {
        z-index: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 10vh;
        .homeoffice__title {
            width: 100vw;
            height: 80px;
            img {
                position: absolute;
                top: 0;
                left: 10%;
                width: 40px;
                display: flex;
                height: auto;
            }
            h1 {
                height: auto;
                display: flex;
                position: absolute;
                top: 4vh;
                left: 22%;
                @extend %header;
            }
        }
        .homeoffice__beneficios {
            position: relative;
            top: 5vh;
            left: 10%;
            height: 60vh;
            width: 90%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 5%;
            grid-template-areas:    "muerte"
                                    "medico"
                                    "subsidio"
                                    "asistencia"
                                    "indemnizacion"
                                    "tecnico"
                                    "videollamada"
                                    "psicologia";
            .homeoffice__beneficios__card {
                display: grid;
                grid-template-columns: 1fr 5fr;
                grid-template-rows: 1fr;
                grid-template-areas:    "img titulo";
                align-items: center;
                justify-content: center;
                height: 10%;
                img {
                    width: 40px;
                }
                h3 {
                    @extend %text;
                }
            }
            // .homeoffice__beneficios__muerte {
            //     top: 10%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__medico {
            //     top: 10%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__subsidio {
            //     top: 15%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__asistencia {
            //     top: 20%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__indemnizacion {
            //     top: 25%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__tecnico {
            //     top: 30%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__videollamada {
            //     top: 35%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__psicologia {
            //     top: 40%;
            //     left: 10%;
            // }   
        }
    }
    .tabla {
        z-index: 1;
        width: 80vw;
        height: auto;
        position: absolute;
        top: 100vh;
        left: 10vw;
    
        #plans,#plans ul,#plans ul li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        #pricePlans:after {
            content: '';
            display: table;
            clear: both;
        }
        
        #pricePlans {
            zoom: 1;
        }
        
        #pricePlans {
            max-width: 69em;
            margin: 0 auto;
        }
        
        #pricePlans #plans .plan {
            background: #fff;
            float: left;
            width: 100%;
            text-align: center;
            border-radius: 5px;
            margin: 0 0 20px 0;
        
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
            box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        }
        
        .planContainer .title h2 {
            font-size: 2.125em;
            font-weight: 300;
            color: #3e4f6a;
            margin: 0;
            padding: .6em 0;
        }
        
        .planContainer .title h2.bestPlanTitle {
            background: #F9F9F9;
        
            background: -webkit-linear-gradient(top, #475975, #364761);
            background: -moz-linear-gradient(top, #475975, #364761);
            background: -o-linear-gradient(top, #475975, #364761);
            background: -ms-linear-gradient(top, #475975, #364761);
            background: linear-gradient(top, #475975, #364761);
            color: #fff;
            border-radius: 5px 5px 0 0;
        }
        
        
        .planContainer .price p {
            background: #3e4f6a;
        
            background: -webkit-linear-gradient(top, #475975, #364761);
            background: -moz-linear-gradient(top, #475975, #364761);
            background: -o-linear-gradient(top, #475975, #364761);
            background: -ms-linear-gradient(top, #475975, #364761);
            background: linear-gradient(top, #475975, #364761);
            color: #fff;
            font-size: 1.2em;
            font-weight: 700;
            height: 2.6em;
            line-height: 2.6em;
            margin: 0 0 1em;
        }
        
        .planContainer .price p.bestPlanPrice {
            background: #f7814d;
        }
        
        .planContainer .price p span {
            color: #8394ae;
        }
        
        .planContainer .options {
            margin-top: 10em;
        }
        
        .planContainer .options li {
            font-weight: 700;
            color: #364762;
            line-height: 2.5;
        }
        
        .planContainer .options li span {
            font-weight: 400;
            color: #979797;
        }
        
        .planContainer .button a {
            text-transform: uppercase;
            text-decoration: none;
            color: #3e4f6a;
            font-weight: 700;
            letter-spacing: 3px;
            line-height: 2.8em;
            border: 2px solid #3e4f6a;
            display: inline-block;
            width: 80%;
            height: 2.8em;
            border-radius: 4px;
            margin: 1.5em 0 1.8em;
        }
        
        .planContainer .button a.bestPlanButton {
            color: #fff;
            background: #f7814d;
            border: 2px solid #f7814d;
        }
        
        #credits {
            text-align: center;
            font-size: .8em;
            font-style: italic;
            color: #777;
        }
        
        #credits a {
            color: #333;
        }
        
        #credits a:hover {
            text-decoration: none;
        }
        
        @media screen and (min-width: 481px) and (max-width: 768px) {
        
        #pricePlans #plans .plan {
            width: 49%;
            margin: 0 2% 20px 0;
        }
        
        #pricePlans #plans > li:nth-child(2n) {
            margin-right: 0;
        }
        
        }
        
        @media screen and (min-width: 769px) and (max-width: 1024px) {
        
        #pricePlans #plans .plan {
            width: 49%;
            margin: 0 2% 20px 0;
        }
        
        #pricePlans #plans > li:nth-child(2n) {
            margin-right: 0;
        }
        
        }
        
        @media screen and (min-width: 1025px) {
        
        #pricePlans {
            margin: 2em auto;
        }
        
        #pricePlans #plans .plan {
            width: 24%;
            margin: 0 1.33% 20px 0;
        
            -webkit-transition: all .25s;
               -moz-transition: all .25s;
                -ms-transition: all .25s;
                 -o-transition: all .25s;
                    transition: all .25s;
        }
        
        #pricePlans #plans > li:last-child {
            margin-right: 0;
        }
        
        #pricePlans #plans .plan:hover {
            -webkit-transform: scale(1.04);
               -moz-transform: scale(1.04);
                -ms-transform: scale(1.04);
                 -o-transform: scale(1.04);
                    transform: scale(1.04);
        }
        
        .planContainer .button a {
            -webkit-transition: all .25s;
               -moz-transition: all .25s;
                -ms-transition: all .25s;
                 -o-transition: all .25s;
                    transition: all .25s;
        }
        
        .planContainer .button a:hover {
            background: #3e4f6a;
            color: #fff;
        }
        
        .planContainer .button a.bestPlanButton:hover {
            background: #ff9c70;
            border: 2px solid #ff9c70;
        }
        
        }
    }
    .homeoffice__footer {
        position: absolute;
        top: 320vh;
    }

}

@media only screen and (min-width: 768px) {
    .homeoffice {
        .homeoffice__container {
            .homeoffice__title {
                h1 {
                    left: 17%;
                    top: 3vh;
                }
            }
            .homeoffice__beneficios {
                .homeoffice__beneficios__card {
                    img {
                        width: 80px;
                    }
                    h3 {
                        font-weight: 400;
                        font-size: 26px;
                        line-height: 30px;
                    }
                }
            }
        }
        .tabla {
            top: 120vh;
        }
        .homeoffice__footer {
            top: 210vh;
        }
}


}

@media only screen and (min-width: 1080px) {
    .homeoffice {
        .homeoffice__container {
            background-size: 35%;
            overflow: visible;
            .homeoffice__beneficios {
                width: 70vw;
                left: 15vw;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-gap: 20%;
            }
        }
        .tabla {
            top: 100vh;
        }
        .homeoffice__footer {
            top: 150vh;
        }
    }
}