.homeoffice {
    height: auto;
    width: 100vw;
    top: 0vh;
    background-image: url(../img/carousel/home-office/background.svg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    background-position-y: 5%;
    .homeoffice__container {
        z-index: 0;
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 10vh;
        .homeoffice__title {
            width: 100vw;
            height: 80px; 
            img {
                position: absolute;
                top: 0;
                left: 10%;
                width: 40px;
                display: flex;
                height: auto;
            }
            h1 {
                height: auto;
                display: flex;
                position: absolute;
                top: 4vh;
                left: 22%;
                @extend %bigHeader;
            }
        }
        .homeoffice__beneficios {
            position: relative;
            top: 5vh;
            left: 10%;
            height: 60vh;
            width: 90%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 5%;
            grid-template-areas:    "muerte"
                                    "medico"
                                    "subsidio"
                                    "asistencia"
                                    "indemnizacion"
                                    "tecnico"
                                    "videollamada"
                                    "psicologia";
            .homeoffice__beneficios__card {
                display: grid;
                grid-template-columns: 1fr 5fr;
                grid-template-rows: 1fr;
                grid-template-areas:    "img titulo";
                align-items: center;
                justify-content: center;
                height: 10%;
                img {
                    width: 40px;
                }
                h3 {
                    @extend %text;
                }
            }
            // .homeoffice__beneficios__muerte {
            //     top: 10%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__medico {
            //     top: 10%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__subsidio {
            //     top: 15%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__asistencia {
            //     top: 20%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__indemnizacion {
            //     top: 25%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__tecnico {
            //     top: 30%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__videollamada {
            //     top: 35%;
            //     left: 10%;
            // }
            // .homeoffice__beneficios__psicologia {
            //     top: 40%;
            //     left: 10%;
            // }   
        }
    }
    
    .tabla {
        z-index: 0;
        width: 90%;
        height: auto;
        position: relative;
        top: 5vh;
        left: 5vw;
        display: flex;
        justify-content: center;
        align-content: center;
        .tabla__section {
            .tabla__planes {
                margin: 0;
                padding: 0;
                list-style: none;
                .tabla__plan__unidad {
                    background: #fff;
                    float: left;
                    width: 100%;
                    text-align: center;
                    border-radius: 5px;
                    margin: 0 0 20px 0;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
                    .tabla__plan__unidad--container {
                        @extend %text;
                        color: #3e4f6a;
                        margin: 0;
                        .title {
                            position: relative;
                            top: 0;
                            @extend %subHeader;
                            color: #3e4f6a;
                            margin: 0;
                            padding: .6em 0;
                            background: #F9F9F9;
                            background: $colorPrincipal;
                            color: #fff;
                            border-radius: 5px 5px 0 0;
                        }
                    }
                        li {
                            .options {
                                margin-top: 5%;
                                li {
                                    font-weight: 700;
                                    color: #364762;
                                    line-height: 2.5;
                                    span {
                                        font-weight: 400;
                                        color: #979797;
                                    }
                                }
                            }
                        }
                        .button {
                            a {
                                text-transform: uppercase;
                                text-decoration: none;
                                font-weight: 700;
                                letter-spacing: 3px;
                                line-height: 2.8em;
                                display: inline-block;
                                width: 80%;
                                height: 2.8em;
                                border-radius: 4px;
                                margin: 1.5em 0 1.8em;
                                color: #fff;
                                background: $lightGradient;
                                border: 2px solid $white;
                            }
                        }
                    }
                }
            }
        }

    .homeoffice__footer {
        position: relative;
        top: 5vh;
        .footer__container {
            position: absolute;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .homeoffice {
        .tabla {
            .tabla__section {
                .tabla__planes {
                    .tabla__plan__unidad {
                        width: 45%;
                        margin: 0 2% 20px 0;
                    }
                }
            }
        }
        .tabla__section .tabla__planes > li:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .homeoffice {
        .homeoffice__container {
            .homeoffice__title {
                h1 {
                    left: 17%;
                    top: 3vh;
                }
            }
            .homeoffice__beneficios {
                .homeoffice__beneficios__card {
                    img {
                        width: 80px;
                    }
                    h3 {
                        font-weight: 400;
                        font-size: 26px;
                        line-height: 30px;
                    }
                }
            }
        }
        .tabla {
            top: 15vh;
            .tabla__section {
                .tabla__planes {
                    .tabla__plan__unidad {
                        width: 45%;
                        margin: 0 2% 20px 0;
                    }
                }
            }
        }
        .tabla__section .tabla__planes > li:nth-child(2n) {
            margin-right: 0;
        }
        .homeoffice__footer {
            top: 20vh;
        }
    }
}

@media only screen and (min-width: 1025px) {
    .homeoffice {
        .homeoffice__container {
            background-size: 35%;
            overflow: visible;
            .homeoffice__title {
                h1 {
                    top: 2.5vh;
                    left: 13%;
                }
            }
            .homeoffice__beneficios {
                width: 70vw;
                height: auto;
                top: 5%;
                left: 15vw;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: 10%;
                .homeoffice__beneficios__card {
                    grid-template-columns: 1fr;
                    grid-template-rows: 5fr 1fr;
                    grid-template-areas:    "img"
                                            "titulo";
                    justify-content: center;
                    align-content: center;
                    width: 250px;
                    height: 180px;
                    img {
                        width: 120px;
                        justify-self: center;
                        align-self: center;
                    }
                    h3 {
                        width: 200px;
                        text-align: center;
                        justify-self: center;
                        align-self: center;
                    }
                }
            }
        }
        .tabla {
            top: 25vh;
            .tabla__section {
                margin: 2em auto;
                .tabla__planes {
                    .tabla__plan__unidad {
                        width: 23%;
                        margin: 0 1.33% 20px 0;
                        transition: all .25s;
                        .tabla__plan__unidad--container {
                            .button {
                                a {
                                    transition: all .25s;
                                }
                                a:hover {
                                    background: $darkGradient;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .tabla__plan__unidad:hover {
                        transform: scale(1.04);
                    }
                }
            }
        }
        .tabla__section .tabla__planes > li:last-child {
            margin-right: 0;
        }
        .homeoffice__footer {
            top: 25vh;
            height: 50vh;
        }
    }
}

@media only screen and (min-width: 1919px) {
    .homeoffice {
        .tabla {
            top: 15vh;
        }
        .homeoffice__footer {
            height: 35vh;
        }
    }
}