.promo-hogar {
    height: auto;
    width: 100vw;
    top: 0vh;
    background-image: url(../img/carousel/Promo-casa/background.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    background-position-y: 0;
    .promo-hogar__container {
        z-index: 0;
        width: 100vw;
        height: 90vh;
        position: relative;
        top: 10vh;
        .promo-hogar__title {
            width: 100vw;
            height: 80px;
            img {
                position: relative;
                top: 0;
                left: 10%;
                width: 40px;
                display: flex;
                height: auto;
            }
            h1 {
                height: auto;
                display: flex;
                position: absolute;
                top: 1vh;
                left: 22%;
                @extend %bigHeader;
            }
        }
        .promo-hogar__precio {
            display: flex;
            position: relative;
            left: 70vw;
            width: 5vw;
            min-width: 100px;
            justify-items: center;
            align-items:center;
            h6 {
                @extend %text;
                color: $white;
                text-align:center;
                z-index: 1;
                display: flex;
                position: relative;
            }
            .carousel__precio--img {
                width: 100%;
                display: flex;
                position: relative;
                transform: translateX(-70%);
            }
        }
        .promo-hogar__text {
            width: 100%;
            position: relative;
            left: 10%;
            top: 10vh;
            p {
                @extend %text;
            }
        }
        .promo-hogar__cta {
            position: relative;
            width: 70vw;
            max-width: 300px;
            top: 20vh;
            left: 15vw;
            h1 {
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 700;
                letter-spacing: 3px;
                line-height: 2.8em;
                display: inline-block;
                width: 100%;
                height: 2.8em;
                border-radius: 4px;
                color: #fff;
                background: $lightGradient;
                border: 2px solid $white;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .promo-hogar {
        .promo-hogar__container {
            .promo-hogar__title {
                h1 {
                    top: 2vh;
                    left: 17%;
                }
            }
            .promo-hogar__text {
                top: 5vh;
            }
            .promo-hogar__cta {
                left: 10%;
                top: 10vh;
            }
        }
    }
}

@media only screen and (min-width: 1080px) {
    .promo-hogar {
        .promo-hogar__container {
            .promo-hogar__title {
                h1 {
                    left: 15%;
                    top: 3vh;
                }
            }
        }
    }
}