#body-auto {
    background-image: url(../img/servicios/svg/auto.svg);
}
#body-motos {
    background-image: url(../img/servicios/svg/moto.svg);
}

#body-bici {
    background-image: url(../img/servicios/svg/bici.svg);
}

#body-civil {
    background-image: url(../img/servicios/svg/responsabilidad-civil.svg);
}

#body-caucion {
    background-image: url(../img/servicios/svg/caucion.svg);
}

#body-personales {
    background-image: url(../img/servicios/svg/accidentes-personales.svg);
}

#body-vida {
    background-image: url(../img/servicios/svg/vida.svg);
}

#body-salud {
background-image: url(../img/servicios/svg/salud.svg);
}

#body-hogar {
    background-image: url(../img/servicios/svg/hogar.svg);
}

#body-comercio {
    background-image: url(../img/servicios/svg/comercio-industria.svg);
}

    .seguros {
        position: relative;
        top: 5vh;
        width: 100vw;
        height: 100vh;
        .seguros__title {
            @extend %header;
            text-transform: uppercase;
            position: relative;
            height: 41px;
            width: 50%;
            top: 10%;
            left: 10%;
            white-space: nowrap;
        }
        .seguros__container {
            position: relative;
            top: 10%;
            left: 10%;
            width: 100%;
            height: 85vh;
            .seguros__text {
                position: absolute;
                top: 10%;
                left: 0;
                width: 20%;
            h3 {
                @extend %subHeader;
            }
            p {
                position: relative;
                top: 3vh;
                left: 0;
                @extend %footer;
            }
        }
            .seguros__cta {
                position: relative;
                top: 35%;
                @extend %footer;
                @extend %ctaHome;
            }
        }
    }

    .footer__seguros {
        top: 0;
    }

    .seguros-body {
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: 40%;
        position: absolute;
        top: 6vh;
        background-color: $white;
        .seguros-section {
        left: 13.5vw;
        }
    }