$colorPrincipal: #1E71B9;
$darkGradient: linear-gradient(69.72deg, #12497F 29.41%, #16477A 34.29%, #1D416D 42.1%, #203757 51.85%, #1D273B 63.19%, #0C0D17 74.96%);
$lightGradient: linear-gradient(135.2deg, #12497F 29.35%, #125C90 39.1%, #1291C9 60.68%, #079EDA 64.87%);
$black: #343434;
$grey: #C4C4C4;
$white:  #F9F9F9;