.navbar {
    background-color: $white;
    border-bottom: 1px solid #fff;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6vh;
    min-height: 60px;

    .navbar__container {
        display: flex;
        img {
            display: none;
        }

        .navbar__options {
            display: flex;
            justify-content: space-between;
            width: 80vw;
            min-width: 290px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10vw;
            list-style-type: none;

            li {
                position: relative;
            

                a {
                    text-decoration: none;
                    color: $black;
                    @extend %text;
                }

                a:hover {
                    color: black;
                }

                a::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 3vh;
                    height: 4px;
                    width: 0%;
                    background: $lightGradient;

                    transition: all ease-in-out 250ms;
                }

                a:hover::before {
                    width: 100%;
                }
            }
        }
    }
}

.carousel {
    position: relative;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;

    .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    img {
        width: 15px;
    }
    }

    .carousel__button--left {
    left: -20px;
    }

    .carousel__button--right {
    right: -20px;
    }

    .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    top: -5%;
    .carousel__indicator {
        border: 0;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: rgba(0, 0, 0, 0.3);
        margin: 0 10px;
        cursor: pointer;
    }
    .carousel__indicator.current-slide {
        background: rgba(0, 0, 0, 0.75);
    }
    }

    .carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    .carousel__track {
        list-style: none;
        position: relative;
        height: 100%;
        transition: transform 250ms ease-in-out;
        .carousel__slide {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        .carousel__text {
            position: absolute;
            top: 10%;
            left: 0;
            width: 50%;
            .carousel__cta {
                position: relative;
                top: 35%;
                @extend %footer;
                @extend %ctaHome;
            }
            .carousel__text--title {
            @extend %bigHeader;
            }
            .carousel__text--description {
            @extend %subHeader;
            padding-top: 5%;
            }
            .carousel__text--detail {
                @extend %subHeader;
            }
        }

        .carousel__image {
            z-index: 0;
            width: 100%;
            height: 100%;
            top: 0;
            object-fit: cover;
        }
        }
    }
    }

    .is-hidden {
    display: none;
    }
}
.background {
    display: flex;
    position: absolute;
    z-index: -1;
    justify-self: center;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.background--servicios {
    top: 105vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    img {
        width: auto;
        height: 100%;
        transform: translateX(-80%);
    }
}

.background--contacto {
    top: 200vh;
    width: 100vw;
    height: 100vh;
    right: -10vw;
    img {
        width: auto;
        height: 100%;
        transform: translateX(30%);
    }
}

.servicios {
    position: relative;
    height: 94vh;
    width: 90vw;
    margin: 0 auto;
    top: 5vh;

    .servicios__title {
        @extend %header;
        text-transform: uppercase;
        position: relative;
        height: 41px;
        width: 100%;
        top: 10%;
        text-align: center;
        h1 {
            vertical-align: middle;
        }
    }
    .servicios__container {
        position: relative;
        top: 10%;
        left: 0;
        width: 100%;
        height: 85vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1%;

        .servicios__card {
            height: 100%;
            min-height: 35px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr;
            grid-template-areas: "icon title";
            align-items: center;
            justify-content: center;
            background-color: rgb(255, 255, 255);
            box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
            border-radius: 4px;

            .card__img {
                display: none;
                img {
                    @extend %cardImg;
                }
            }

            .card__icon {
                grid-area: icon;
                .card__icon--small {
                img {
                    width: 80%;
                    max-height: 30px;
                    margin-left: 10%;
                    top: 50%;
                    left: 50%;
                }
                }

                .card__icon--big {
                    display: none;
                }
            }

            .card__text {
            white-space: nowrap;
            grid: "title";
            h4 {
                justify-content: center;
                align-content: center;
                text-align: start;
                @extend %subHeader;
            }
            h6 {
                display: none;
                @extend %footer;
            }
        }
        }
    }
}

.contacto {
    position: relative;
    height: 94vh;
    min-height: 600px;
    width: 80vw;
    margin: 0 auto;
    top: 5vh;
    .contacto__title {
    @extend %header;
    text-transform: uppercase;
    position: relative;
    height: 41px;
    width: 100%;
    top: 10%;
    text-align: center;
    }

    .contacto__container {
    position: relative;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80vh;
    min-height: 600px;
        .contacto__left {
            position: relative;
            top: 0;
            height: 55%;
            width: 100%;
            padding: 3%;
            color: $black;
            background-color: #1e71b92f;
            border: 2px solid $black;
            border-radius: 5px;
            backdrop-filter: blur(2px);
            form {
                label{
                    display: block;
                    color: grey;
                }
                textarea {
                    padding: 3%;
                }
                input {
                    margin-bottom: 2%;
                    display: block;
                }
            }
        }

        .contacto__right {
            position: relative;
            top: 2%;
            height: 38%;
            width: 100%;
            padding: 5%;
            color: #343434;
            background-color: #1e71b92f;
            border: 2px solid $black;
            border-radius: 5px;
            backdrop-filter: blur(2px);
            display: flex;

            .contacto__right--logo {
                display: none;
            }
            .contacto__right--ubicacion {
                display: inline;
                height: 40%;
                position: relative;
                top: 1%;
                left: 1%;
                h6 {
                    @extend %subHeader;
                }
                p {
                    @extend %text;
                }
            }
            .contacto__right--iconos {
                display: block;
                position: absolute;
                top: 50%;
                left: 5%;
                img {
                    list-style-type: none;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 50%;
                    max-width: 30px;
                }
            }
            .contacto__right--text {
                display: block;
                position: absolute;
                top: 50%;
                left: 20%;
                @extend %footer;
                .contacto__right--text--telefonos {
                    @extend %text;
                }
                .contacto__right--text--mail {
                    @extend %text;
                    margin-top: 1.5vh;
                }
            }
        }

    }

    .contacto__map {
        iframe {
            display: none;
            z-index: 1;
        }
    }
}

footer {
    position: relative;
    width: 100vw;
    height: 94vh;
    margin: 0 auto;
    top: 15vh;
    bottom: 0;
    background-color: #C4C4C4;

    .footer__container {
        position: relative;
        left: 7%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1.5fr 0.5fr 0.5fr;
        grid-template-areas:    "logo"
                                "servicios"
                                "contacto"
                                "redes";

    .footer__logo {
        grid-area: logo;
        height: 80%;
        img {
          height: 50%;
          top: 50%;
          transform: translateY(50%);
        }
    }

    .footer__servicios {
        grid-area: servicios;
        width: 100%;
        height: 90%;
        h3 {
            @extend %subHeader;
        }
        ul {
            @extend %footer;
            li {
                padding-top: 1%;
                text-decoration: none;
            }
        }
    }

    .footer__contacto {
        grid-area: contacto;
        width: 100%;
        h3 {
            @extend %subHeader;
        }
        ul {
            @extend %footer;
            li {
                padding-top: 3%;
                text-decoration: none;
            }
        }
    }

    .footer__redes {
        position: relative;
        grid-area: redes;
        height: 50%;
        width: 60%;
        display: flex;
        align-content: center;
        top: 15%;
        a {
            display: flex;
            justify-content: space-between;
            width: 15%;
            img {
                width: 90%;
            }
        }
    }
  }
}


@media only screen and (min-width: 768px) {
    .navbar {
    .navbar__container {
        display: flex;
        justify-content: space-between;
            img {
                display: flex;
                position: absolute;
                left: 10vw;
                top: 50%;
                transform: translateY(-50%);
            }
            .navbar__options {
                width: 40vw;
                right: 10vw;
                left: auto;
            }
        }
    }

    .servicios {
    .servicios__title {
        text-align: start;
        left: 0;
        height: 41px;
    }
    .servicios__container {
        top: 3%;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:    ". . card1"
                                "card2 card3 card4"
                                "card5 card6 card7"
                                "card8 card9 card0";

        .servicios__card--card1 {
            grid-area: card1;
            background-image: url(../img/servicios/svg/auto.svg);
        }
        .servicios__card--card2 {
            grid-area: card2;
            background-image: url(../img/servicios/svg/moto.svg);
        }
        .servicios__card--card3 {
            grid-area: card3;
            background-image: url(../img/servicios/svg/bici.svg);
        }
        .servicios__card--card4 {
            grid-area: card4;
            background-image: url(../img/servicios/svg/responsabilidad-civil.svg);
        }
        .servicios__card--card5 {
            grid-area: card5;
            background-image: url(../img/servicios/svg/caucion.svg);
        }
        .servicios__card--card6 {
            grid-area: card6;
            background-image: url(../img/servicios/svg/accidentes-personales.svg);
        }
        .servicios__card--card7 {
            grid-area: card7;
            background-image: url(../img/servicios/svg/vida.svg);
        }
        .servicios__card--card8 {
            grid-area: card8;
            background-image: url(../img/servicios/svg/salud.svg);
        }
        .servicios__card--card9 {
            grid-area: card9;
            background-image: url(../img/servicios/svg/hogar.svg);
        }
        .servicios__card--card0 {
            grid-area: card0;
            background-image: url(../img/servicios/svg/comercio-industria.svg);
        }

        .servicios__card {
            display: flex;
            padding: 20%;
            background-size: contain;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-origin: content-box;

            .card__icon {
                display: none;
            }

            .card__text {
                width: 100%;
                height: 100%;
                padding: 5%;
                white-space: pre-wrap;
                position: absolute;
                bottom: 0;
                
                h4 {
                    display: flex;
                    position: absolute;
                    top: 0;
                    justify-content: start;
                    align-content: flex-start;
                }
                h6 {
                    display: flex;
                    width: 90%;
                    font-size: 14px;
                    position: absolute;
                    bottom: 5px;
                }
            }
        }

        .servicios__card:hover{
            transform: translate(2px, -2px);
            transition: all ease-in-out 250ms;
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        }
    }
    }

    .background--contacto {
        img {
            transform: translateX(50%);
        }
    }

    .contacto {
    height: 80vh;
    .contacto__title {
        text-align: start;
        left: 0;
        height: 41px;
    }
    .contacto__container {
        height: 50%;
        min-height: 0px;
        width: 100%;
        left: 0%;
        top: 15%;
        display: flex;
        justify-content: space-between;
        .contacto__left {
            top: 0vh;
            left: 0vh;
            height: 100%;
            width: 50%;
            form {
                input {
                    margin-bottom: 2%;
                }
            }
        }
        .contacto__right {
            top: 0vh;
            height: 100%;
            width: 45%;
            .contacto__right--logo {
                display: block;
                position: absolute;
                top: 2vh;
                left: 5%;
            }
            .contacto__right--ubicacion {
                top: 22%;
            }
            .contacto__right--iconos {
                top: 61%;
            }
            .contacto__right--text {
                top: 60%;
            }
        }
    }
    .contacto__map {
        display: flex;
        iframe {
            display: flex;
            position: absolute;
            top: 70%;
            transform: translateY(4vw);
            left: 0;
            width: 100%;
            height: 20vh;
        }
    }
    }

    footer {
        height: auto;
        .footer__container {
        grid-template-columns: 0.7fr 1.2fr 1.2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:    "logo servicios contacto"
                                "logo servicios redes";

            .footer__logo {
                margin-left: 0%;
                align-self: flex-start;
                img {
                    width: 70%;
                    height: auto;
                }
            }

            .footer__servicios {
            position: relative;
            top: 2vh;
            height: 60%;
            }

            .footer__contacto {
            position: relative;
            top: 2vh;
            }

            .footer__redes {
                width: 100%;
                position: relative;
                top: 4vh;
            }

        }
    } 
}

@media only screen and (min-width: 1080px) {
    .navbar {
        width: 100vw;
        .navbar__container {
            img {
                left: 10%;
            }
            .navbar__options {
                right: 10%;
            }
        }
    }

    .background--contacto {
        img {
            transform: translateX(120%);
        }
    }

    .servicios {
        height: 100vh;
        width: 80vw;
        top: 0;

        .servicios__title {
            height: 2em;
            line-height: 2em;
            h1 {
                font-size: 2em;
            }
        }
        .servicios__container {
            top: 0;
            left: 0;
            width: 100%;
            height: 94%;
            margin-left: 0%;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:    ". . card1 card2"
                                    "card3 card4 card5 card6"
                                    "card7 card8 card9 card0";
        }
    }

    footer {
        height: 40vh;
        .footer__container {
            padding-top: 2%;
            .footer__logo {
                img {
                    width: 50%;
                }
            }
            .footer__redes {
                width: 60%;
            }
        }
    }
}

@media only screen and (min-width: 1550px) {
    .contacto {
        height: 60vh;

        .contacto__title {
            height: 2em;
            line-height: 2em;
            h1 {
                font-size: 2em;
            }
        }

        .contacto__container {
            position: absolute;
            top: 25%;
            width: 100%;
            height: 80%;
            display: block;

            .contacto__left {
                position: absolute;
                width: 25%;
                padding: 2%;
                form {
                    position: relative;
                    top: 10%;
                }
            }

            .contacto__right {
                position: absolute;
                width: 20%;
                left: 27%;
                padding: 0;

                .contacto__right--logo {
                    display: relative;
                    top: 10%;
                    left: 5%;
                }
                .contacto__right--ubicacion {
                    position: relative;
                    width: 100%;
                    left: 5%;
                    top: 30%;
                }
                .contacto__right--iconos {
                    left: 5%;
                    top: 60%;
                }
                .contacto__right--text {
                    left: 17%;
                }
            }

        }

        .contacto__map {
            position: absolute;
            width: 100%;
            height: 80%;
            top: 25%;
            iframe {
                position: absolute;
                height: 100%;
                transform: translateY(0);
                top: 0;
                width: 51%;
                top: 0;
                left: 49%;
                z-index: -1;
                border-radius: 5px;
            }
        }
    }
}